<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPersonLabel" jhiTranslate="shepherdApp.person.home.createOrEditLabel">Create or
                                                                                                            edit a
                                                                                                            Person</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!person.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="person.id" readonly/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shepherdApp.person.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                   [(ngModel)]="person.name"/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shepherdApp.person.phoneNumber" for="field_phoneNumber">Phone
                                                                                                                    Number</label>
            <input type="text" class="form-control" name="phoneNumber" id="field_phoneNumber"
                   [(ngModel)]="person.phoneNumber"/>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
