<div *ngIf="personTreePath">
    <h2><span jhiTranslate="shepherdApp.personTreePath.detail.title">Person Tree Path</span> {{personTreePath.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="shepherdApp.personTreePath.depth">Depth</span></dt>
        <dd>
            <span>{{personTreePath.depth}}</span>
        </dd>
        <dt><span jhiTranslate="shepherdApp.personTreePath.validFrom">Valid From</span></dt>
        <dd>
            <span>{{personTreePath.validFrom | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="shepherdApp.personTreePath.validTo">Valid To</span></dt>
        <dd>
            <span>{{personTreePath.validTo | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="shepherdApp.personTreePath.ancestor">Ancestor</span></dt>
        <dd>
            <div *ngIf="personTreePath.ancestor">
                <a [routerLink]="['/person', personTreePath.ancestor?.id]">{{personTreePath.ancestor?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="shepherdApp.personTreePath.descendant">Descendant</span></dt>
        <dd>
            <div *ngIf="personTreePath.descendant">
                <a [routerLink]="['/person', personTreePath.descendant?.id]">{{personTreePath.descendant?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'person-tree-path/'+ personTreePath.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
