<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPersonTreePathLabel"
            jhiTranslate="shepherdApp.personTreePath.home.createOrEditLabel">Create or edit a Person Tree Path</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!personTreePath.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="personTreePath.id" readonly/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shepherdApp.personTreePath.depth"
                   for="field_depth">Depth</label>
            <input type="number" class="form-control" name="depth" id="field_depth"
                   [(ngModel)]="personTreePath.depth" required/>
            <div [hidden]="!(editForm.controls.depth?.dirty && editForm.controls.depth?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.depth?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.depth?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shepherdApp.personTreePath.validFrom" for="field_validFrom">Valid
                                                                                                                        From</label>
            <div class="d-flex">
                <input id="field_validFrom" type="datetime-local" class="form-control" name="validFrom"
                       [(ngModel)]="personTreePath.validFrom"
                       required/>
            </div>
            <div [hidden]="!(editForm.controls.validFrom?.dirty && editForm.controls.validFrom?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.validFrom?.errors?.required"
                       jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.validFrom?.errors?.ZonedDateTimelocal"
                       jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="shepherdApp.personTreePath.validTo" for="field_validTo">Valid
                                                                                                                    To</label>
            <div class="d-flex">
                <input id="field_validTo" type="datetime-local" class="form-control" name="validTo"
                       [(ngModel)]="personTreePath.validTo"
                />
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="shepherdApp.personTreePath.ancestor" for="field_ancestor">Ancestor</label>
            <select class="form-control" id="field_ancestor" name="ancestor" [(ngModel)]="personTreePath.ancestor">
                <option [ngValue]="null"></option>
                <option
                    [ngValue]="personOption.id === personTreePath.ancestor?.id ? personTreePath.ancestor : personOption"
                    *ngFor="let personOption of people; trackBy: trackPersonById">{{personOption.id}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="shepherdApp.personTreePath.descendant" for="field_descendant">Descendant</label>
            <select class="form-control" id="field_descendant" name="descendant"
                    [(ngModel)]="personTreePath.descendant">
                <option [ngValue]="null"></option>
                <option
                    [ngValue]="personOption.id === personTreePath.descendant?.id ? personTreePath.descendant : personOption"
                    *ngFor="let personOption of people; trackBy: trackPersonById">{{personOption.id}}
                </option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
