<div>
    <h2>
        <span jhiTranslate="shepherdApp.personTreePath.home.title">Person Tree Paths</span>
        <button class="btn btn-primary float-right create-person-tree-path"
                [routerLink]="['/', { outlets: { popup: ['person-tree-path-new'] } }]">
            <span class="fa fa-plus"></span>
            <span jhiTranslate="shepherdApp.personTreePath.home.createLabel">
            Create new Person Tree Path
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="personTreePaths">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span jhiTranslate="global.field.id">ID</span></th>
                <th><span jhiTranslate="shepherdApp.personTreePath.depth">Depth</span></th>
                <th><span jhiTranslate="shepherdApp.personTreePath.validFrom">Valid From</span></th>
                <th><span jhiTranslate="shepherdApp.personTreePath.validTo">Valid To</span></th>
                <th><span jhiTranslate="shepherdApp.personTreePath.ancestor">Ancestor</span></th>
                <th><span jhiTranslate="shepherdApp.personTreePath.descendant">Descendant</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let personTreePath of personTreePaths ;trackBy: trackId">
                <td><a [routerLink]="['../person-tree-path', personTreePath.id ]">{{personTreePath.id}}</a></td>
                <td>{{personTreePath.depth}}</td>
                <td>{{personTreePath.validFrom | date:'medium'}}</td>
                <td>{{personTreePath.validTo | date:'medium'}}</td>
                <td>
                    <div *ngIf="personTreePath.ancestor">
                        <a [routerLink]="['../person', personTreePath.ancestor?.id ]">{{personTreePath.ancestor?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="personTreePath.descendant">
                        <a [routerLink]="['../person', personTreePath.descendant?.id ]">{{personTreePath.descendant?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../person-tree-path', personTreePath.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'person-tree-path/'+ personTreePath.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'person-tree-path/'+ personTreePath.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
