<form name="deleteForm" (ngSubmit)="confirmDelete(personTreePath.id)">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="entity.delete.title">Confirm delete operation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p jhiTranslate="shepherdApp.personTreePath.delete.question" translateValues="{id: '{{personTreePath.id}}'}">Are
                                                                                                                     you
                                                                                                                     sure
                                                                                                                     you
                                                                                                                     want
                                                                                                                     to
                                                                                                                     delete
                                                                                                                     this
                                                                                                                     Person
                                                                                                                     Tree
                                                                                                                     Path?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" class="btn btn-danger">
            <span class="fa fa-remove"></span>&nbsp;<span jhiTranslate="entity.action.delete">Delete</span>
        </button>
    </div>
</form>
